<header>
    <div class="container">
        <nav>
            <a href="#" class="logo">Petr Lazarev</a>
            <div class="nav-links">
                <a href="about.html" class="nav-link">About</a>
                <a href="writings.html" class="nav-link">Writings</a>
                <a href="bookmarks.html" class="nav-link">Bookmarks</a>
                <a href="https://www.linkedin.com/in/petr-lazarev/" class="nav-link external-link" target="_blank">LinkedIn</a>
            </div>
        </nav>
    </div>
</header> 